# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
.build/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Secrets
secrets.json
*.pem
